html{ font family: Arial;
    }
h1{ color:red
}

p{ font:Arial
}
img{ width: 500px
   }
body {
  font-family: Arial;
}
h1 {
  text-align: center;
}
img{
    text-align: center;
}
body {
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
}
img {
  display: block;
  margin: 0 auto;
}



